* {
  font-family: sans-serif;
  color: white;
}
body {
  padding: 1em;
}
div {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1px;
}
.bar {
  background-color: darkblue;
  color: white;
  float: left;
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
